@import url(https://fonts.googleapis.com/css?family=Varela+Round);
html {
  font-family: "Open Sans", "Franklin Gothic Light", "Roboto", Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
}

a {
  color: #e0e0e0;
}
a:hover {
  color: rbga(201, 201, 201, 0.5);
}

p {
  font-family: "Open Sans";
}

html,
body,
#root,
.App {
  overflow-y: overlay;
}
@media (min-width: 950px) {
  html,
body,
#root,
.App {
    min-height: 100vh;
  }
}
@media (max-width: 949px) {
  html,
body,
#root,
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1600px) {
  html,
body,
#root,
.App {
    font-size: 1.05em;
  }
}

h2 {
  font-size: 2em;
}
@media (max-width: 1049px) {
  h2 {
    text-align: center;
  }
}

@media (max-width: 1049px) {
  hr {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}

.App {
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d31717;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d1616;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #4d0d0d;
  margin: auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
}

header {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 1em;
}
@media (max-width: 950px) {
  header {
    display: block;
    text-align: center;
  }
}
@media (max-width: 1149px) {
  header {
    font-size: 0.85em;
  }
}
@media (min-width: 950px) {
  header {
    flex-direction: row;
  }
}
header h1 {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}
header h2 {
  letter-spacing: 0.04em;
  font-size: 1.2em;
}
header nav {
  text-transform: uppercase;
  text-align: right;
  font-size: 1.3em;
  padding: 0 1em;
}
@media (max-width: 950px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
  }
}
header nav ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
}
@media (max-width: 728px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
}
header nav li {
  display: inline-block;
  color: #e33030;
  padding: 0.5em 0.75em 0.25em 0.75em;
  position: relative;
}
header nav li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header nav li:not(.active):hover {
  transform: translateY(-0.2em);
  color: white;
  transition: transform 0.3s;
}
header nav li:hover {
  cursor: pointer;
  color: white;
}

@media (max-width: 727px) {
  nav .toggle-menu {
    color: #e64c3c;
    font-size: 0.9em;
    padding: 0.25em;
    border: solid 1px red;
    border-radius: 10px;
  }
  nav .toggle-menu:hover {
    cursor: pointer;
  }
}
@media (min-width: 728px) {
  nav .toggle-menu {
    display: none;
  }
}

.block-div {
  height: 100px;
  width: 100%;
  background: #e64c3c;
}

.display-none {
  display: none;
}

.main {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1800px) {
  .main {
    padding-top: 20vh;
  }
}
.main h2 {
  width: 70%;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  color: white;
}
@media (max-width: 500px) {
  .main h2 {
    width: 50%;
  }
}
@media (min-width: 1050px) {
  .main h2 {
    font-size: 2.5em;
    width: 50%;
  }
}
.main h3 {
  color: #d4d4d4;
  margin-bottom: 1.5em;
  text-align: center;
}
.main .cta-cont {
  display: flex;
  justify-content: center;
}
@media (max-width: 700px) {
  .main .cta-cont {
    font-size: 0.9em;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: auto;
  }
}
.main .cta-cont a {
  text-transform: uppercase;
  padding: 0.5em;
  color: white;
  background: #4d0d0d;
  border-radius: 2px;
  border: #e64c3c 1px solid;
  margin: 0.5em;
}
.main .cta-cont a:hover {
  color: #4d0d0d;
  background: #fdc4c4;
  cursor: pointer;
  transition: background 0.2s;
}
.main .icon-cont {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 4em;
}
.main .icon-cont .monitor {
  width: 27%;
  height: auto;
}
@media (min-width: 951px) and (max-width: 1349px) {
  .main .icon-cont .monitor {
    width: 22vw;
  }
}
@media (min-width: 1350px) {
  .main .icon-cont .monitor {
    width: 20vw;
  }
}
.main .icon-cont .laptop {
  width: 19%;
  margin-left: 4%;
  height: auto;
}
@media (min-width: 951px) and (max-width: 1349px) {
  .main .icon-cont .laptop {
    width: 15vw;
  }
}
@media (min-width: 1350px) {
  .main .icon-cont .laptop {
    width: 14vw;
  }
}
.main .icon-cont .tablet-mobile {
  width: 8%;
  height: auto;
}
@media (min-width: 951px) and (max-width: 1349px) {
  .main .icon-cont .tablet-mobile {
    width: 6vw;
  }
}
@media (min-width: 1350px) {
  .main .icon-cont .tablet-mobile {
    width: 5vw;
  }
}

.animation-1 {
  -webkit-animation: card-slide-in 0.4s 1.2s forwards;
  animation: card-slide-in 0.4s 1.2s forwards;
}

.animation-2 {
  -webkit-animation: card-slide-in 0.4s 0.9s forwards;
  animation: card-slide-in 0.4s 0.9s forwards;
}

.animation-3 {
  -webkit-animation: card-slide-in 0.4s 0.6s forwards;
  animation: card-slide-in 0.4s 0.6s forwards;
}

.headline-animation {
  -webkit-animation: card-slide-in 0.4s 0.3s forwards;
  animation: card-slide-in 0.4s 0.3s forwards;
}

.active {
  color: white;
}
.active:after {
  width: 100%;
  left: 0;
}

.portfolio {
  width: 100%;
  height: 100%;
  background: #e64c3c;
  padding-top: 100px;
}
.portfolio .portfolio-title-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 1049px) {
  .portfolio .portfolio-title-cont {
    align-items: center;
  }
}
.portfolio .portfolio-title-cont .portfolio-title {
  margin-bottom: 0.25em !important;
  text-transform: uppercase;
}
.portfolio .portfolio-title-cont hr {
  background-color: white;
  width: 5%;
  margin-top: 0.25em;
}
.portfolio a {
  font-size: 1.1em;
  padding: 0.5em 0;
}

.portfolio-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
}
.portfolio-tabs h4 {
  font-size: 1.1em;
  position: relative;
  font-weight: 400;
  padding: 0.3em 0.5em;
  border-radius: 5px 5px 0 0;
  border-bottom: white solid 1px;
}
.portfolio-tabs h4:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.portfolio-tabs span {
  font-size: 2em;
  color: white;
}

.websites,
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog-title-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 1049px) {
  .blog-title-cont {
    align-items: center;
  }
}
.blog-title-cont h2 {
  margin-bottom: 0.25em !important;
  text-transform: uppercase;
}
.blog-title-cont hr {
  background-color: white;
  width: 5%;
  margin-top: 0.25em;
}

.website-card {
  width: 100%;
  height: 400px;
  perspective: 600px;
  margin-bottom: 3em;
}
@media (min-width: 1100px) {
  .website-card {
    width: 47%;
  }
}
.website-card:hover {
  cursor: pointer;
}
@media (max-width: 649px) {
  .website-card {
    width: 95%;
  }
}
.website-card .card__face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.website-card .card__face--front {
  width: 100%;
  height: 100%;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  position: relative;
  color: white;
  border: 20px solid white;
}
.website-card .card__face--front img {
  width: 100%;
  height: auto;
}
.website-card .card__face--front .card-front-content {
  position: absolute;
  background: white;
  bottom: 0;
  color: black;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
}
.website-card .card__face--front .card-front-content h3 {
  font-size: 1.1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b80000;
}
.website-card .card__face--front .card-front-content p {
  font-family: "Open Sans";
  font-size: 0.9em;
  width: 70%;
  padding: 0.5em 2em;
  text-align: center;
  font-weight: 300;
  margin: auto;
}
.website-card .card__face--front .card-front-content hr {
  width: 30%;
  background-color: white;
  margin: 0.25em auto;
}

.modal-frame {
  opacity: 0;
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.3s ease-in-out forwards;
}
.modal-frame .modal-content {
  background: white;
  width: 80%;
  display: flex;
  height: 80vh;
  overflow: hidden;
}
.modal-frame .screen-cap {
  width: 65%;
  height: auto;
}
.modal-frame .small-screen-cap {
  width: 40%;
  height: auto;
}
.modal-frame .after-screen-cont {
  display: flex;
  align-items: flex-start;
}
.modal-frame .modal-text {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.modal-frame .modal-text a {
  font-size: 0.8em;
  display: inline-block;
  background: #e64c3c;
  color: white;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  border-radius: 5px;
}
.modal-frame .modal-text p {
  margin-top: 0.75em;
  font-size: 0.9em;
}
.modal-frame svg {
  font-size: 2.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
  transform: rotate(0deg);
  transition: transform 0.2s;
}
.modal-frame svg:hover {
  transform: rotate(180deg);
  transition: transform 0.2s;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.about,
.contact,
.blog {
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

.cat-menu h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.cat-menu hr {
  width: 5%;
  margin: auto;
}

.frame-content {
  width: 80%;
  max-width: 1600px;
  margin: auto;
}
@media (max-width: 727px) {
  .frame-content {
    width: 95%;
  }
}

.blog-menu {
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin-bottom: 1em;
  padding-left: 0;
}
.blog-menu li {
  padding: 0.5em;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid white;
}
@media (max-width: 400px) {
  .blog-menu li {
    font-size: 0.8em;
  }
}
.blog-menu li:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .card-container {
    justify-content: center;
  }
}

.post-card {
  width: 100%;
  margin: auto;
  min-height: 250px;
  border-radius: 10px;
  border: #e64c3c 2px solid;
  margin-bottom: 2em;
}
.post-card .post-card-content {
  padding: 2em;
}
.post-card .post-card-content p {
  color: #dbdbdb;
}
.post-card .post-card-content h3 {
  font-size: 1.2em;
}
.post-card .post-card-content .post-cat {
  text-transform: uppercase;
  color: red;
  font-size: 1em;
}

.selected {
  text-decoration: underline;
  color: blue;
}

.blog-post {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 2em;
}
.blog-post hr {
  width: 50%;
  margin: 1em auto;
}
.blog-post p,
.blog-post h1 {
  color: white;
}
.blog-post h1 {
  text-align: center;
  margin: 0.5em auto 0.25em auto;
}
.blog-post p {
  margin: 1em 0;
  text-align: justify;
  font-weight: 100;
}
.blog-post code {
  background: #222222;
  color: white;
  display: block;
  white-space: pre-wrap;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  font-size: 1.1em;
}

.browser-comp {
  color: white;
}
.browser-comp h3 {
  text-align: center;
  font-size: 1.6em;
}
.browser-comp hr {
  margin: 0 auto;
}
.browser-comp .pc-cont {
  display: flex;
}
.browser-comp table {
  width: 90%;
  margin: auto;
  border-radius: 5px;
  color: black;
}
.browser-comp img {
  display: block;
  width: 90%;
  margin: auto;
  height: auto;
}
.browser-comp th,
.browser-comp td {
  background: white;
  padding: 0.35em;
}
.browser-comp th span,
.browser-comp td span {
  padding: 0.35em;
  border-radius: 5px;
}

.contact {
  padding-top: 100px;
  padding-bottom: 75px;
  color: white;
}
.contact hr {
  width: 5%;
  margin: auto;
}
.contact .frame-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1050px) {
  .contact .frame-content {
    width: 70%;
  }
}
.contact .frame-content .contact-content {
  margin: auto;
  text-align: center;
}
.contact .frame-content .contact-content p {
  margin: 1em auto;
  width: 80%;
}

.link {
  color: #ff5100;
}
.link:hover {
  color: orange;
  text-decoration: underline;
}

.contact-form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1049px) {
  .contact-form {
    width: 80%;
  }
}
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form span {
  width: 100%;
  font-family: "Franklin Gothic Medium", Cochin, Georgia, Times, "Times New Roman", serif;
}
.contact-form label {
  color: white;
  padding: 0.5em 0;
}
.contact-form input,
.contact-form textarea {
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}
.contact-form input:focus,
.contact-form textarea:focus {
  transition: border 0.1s;
}
.contact-form textarea {
  height: 300px;
  margin-bottom: 1em;
}
.contact-form input[type=submit] {
  background: red;
  color: white;
}
.contact-form input[type=submit]:hover {
  cursor: pointer;
}
.contact-form .email-result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4d0d0d !important;
  padding: 0.5em;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  margin: 0.5em 0 !important;
  font-weight: 600;
  font-size: 1.2em;
}
@media (min-width: 1050px) {
  .question {
    width: 60%;
  }
}
.question ~ h2 {
  margin-top: 1em;
}
.question i {
  transform: rotate(0);
  display: inline-block;
  padding: 0 0.5em;
  font-size: 1.2em;
  transition: transform 0.2s;
}
.question .flip {
  transform: rotate(180deg);
  transition: transform 0.2s;
}
.question:hover {
  cursor: pointer;
}

.answer {
  margin: 0.5em !important;
  display: none;
  font-weight: 300;
  width: 90%;
}
@media (min-width: 1050px) {
  .answer {
    width: 60%;
  }
}

.show {
  display: block;
  animation: slide 0.2s;
}

.faq-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
  margin: auto;
}

.pt-1 {
  padding-top: 1em;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-1.75em);
  }
  100% {
    opacity: 1;
  }
}
.hide {
  display: none;
}

.blog-preview {
  background-color: #e64c3c;
  padding-top: 100px;
}
.blog-preview a[href="/blog"] {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 0.5em 0;
}
@media (min-width: 1050px) {
  .blog-preview a[href="/blog"] {
    float: right;
  }
}

.blog-preview-post-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}
.blog-preview-post-cont .post-card {
  margin: 0;
  margin-top: 3vw;
  width: 100%;
  border-radius: 5px;
  background: white;
}
@media (min-width: 1050px) {
  .blog-preview-post-cont .post-card {
    width: 48%;
  }
}
.blog-preview-post-cont .post-card h3,
.blog-preview-post-cont .post-card p {
  color: #1a1a1a;
}

.portfolio-title,
.blog-preview h2:first-of-type,
.about h2 .blog h2:first-of-type {
  color: white;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: auto;
}

#hire-me {
  padding-top: 75px;
  padding-bottom: 75px;
}
#hire-me h2:not(.section-title) {
  font-size: 1.75em;
  text-align: center;
}
#hire-me .hire-title-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2em;
  justify-content: flex-end;
}
@media (max-width: 1049px) {
  #hire-me .hire-title-cont {
    align-items: center;
  }
}
#hire-me .hire-title-cont h2 {
  margin-bottom: 0.25em !important;
  text-transform: uppercase;
}
#hire-me .hire-title-cont hr {
  background-color: white;
  width: 5%;
  margin-top: 0.25em;
}
#hire-me p,
#hire-me li,
#hire-me h1,
#hire-me h2 {
  color: white;
}
#hire-me hr {
  width: 5%;
  background-color: white;
}
#hire-me .full-width {
  width: 100%;
}
#hire-me p {
  margin: 1em auto;
}

.highlight {
  background: white;
  border-radius: 5px 5px 0 0;
  color: #4d0d0d;
  transition: background 0.2s;
}

.hire-card-cont {
  display: flex;
  width: 100%;
  margin: 3em auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 965px) {
  .hire-card-cont {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 1050px) {
  .hire-card-cont {
    width: 100%;
  }
}
.hire-card-cont h2 {
  text-align: left;
}
.hire-card-cont .hire-card {
  background: white;
  width: 80%;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 5px;
  transform: translateY(1em);
  transition: transform 0.2s;
}
.hire-card-cont .hire-card img {
  width: 40%;
  max-width: 150px;
  height: auto;
  min-width: 125px;
  padding: 1em;
}
.hire-card-cont .hire-card .bespoke {
  color: #f1c40f;
}
.hire-card-cont .hire-card .standard {
  color: #e74c3c;
}
.hire-card-cont .hire-card .premium {
  color: #3498db;
}
@media (min-width: 965px) {
  .hire-card-cont .hire-card {
    width: 30%;
  }
}
.hire-card-cont .hire-card span {
  font-weight: bold;
  font-size: 0.7em;
}
.hire-card-cont .hire-card h3.price {
  color: orange;
  padding: 0 1em 1em 1em;
  border-radius: 5px;
  font-size: 1.75em;
  line-height: 1em;
}
.hire-card-cont .hire-card:hover {
  transform: translateY(-1em);
  transition: transform 0.2s ease-in-out;
}
.hire-card-cont .hire-card a {
  background: #d30000;
  padding: 0.75em;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 1em;
}
.hire-card-cont .hire-card h3 {
  font-size: 1.6em;
  color: #ce0000;
  font-weight: 600;
}
.hire-card-cont .hire-card p {
  color: #252525 !important;
  font-size: 0.9em;
  padding: 0 2.5em;
  text-align: justify;
}
.hire-card-cont .hire-card ul {
  list-style-type: none;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.hire-card-cont .hire-card ul li {
  color: #5f5f5f !important;
  font-size: 1em;
  padding: 0.4em;
  text-align: center;
  border-bottom: 1px gray solid;
}
@media (min-width: 965px) {
  .hire-card-cont .hire-card ul li {
    font-size: 0.9em;
  }
}

.text-center {
  text-align: center;
}

.service-card-cont {
  width: 100%;
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 1050px) {
  .service-card-cont {
    flex-direction: row;
    width: 85%;
  }
}
.service-card-cont .service-card {
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 2.25em;
  display: flex;
  flex-direction: column;
  margin: 2vw 0;
}
@media (min-width: 1050px) {
  .service-card-cont .service-card {
    width: 47.5%;
  }
}
.service-card-cont .service-card .service-card-head {
  display: flex;
  align-items: center;
}
.service-card-cont .service-card .service-card-head h3 {
  font-size: 1.2em;
  padding-left: 0.5em;
}
.service-card-cont .service-card .service-card-head img {
  padding: 10px;
  width: 15%;
  height: auto;
}
.service-card-cont .service-card p {
  color: black !important;
  font-size: 0.95em;
  text-align: justify;
}

.process-card-cont {
  width: 100%;
  display: flex;
  margin: 1em auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 750px) {
  .process-card-cont {
    flex-direction: row;
    justify-content: space-between;
  }
}
.process-card-cont .process-card {
  flex-direction: column;
  width: 90%;
  margin-bottom: 1.5em;
  background: white;
  border: white 1px solid;
  border-radius: 5px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .process-card-cont .process-card {
    min-height: 350px;
  }
}
@media (min-width: 750px) and (max-width: 1249px) {
  .process-card-cont .process-card {
    width: 48%;
  }
}
@media (min-width: 1250px) {
  .process-card-cont .process-card {
    width: 24%;
    margin-bottom: 0;
  }
}
.process-card-cont .process-card img {
  padding-bottom: 0.5em;
  width: 15%;
  height: auto;
}
.process-card-cont .process-card .process-card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-card-cont .process-card .process-card-head h2 {
  padding: 0.25em 0.5em;
  border: 1px dotted black;
  color: #1b1b1b;
  border-radius: 50%;
}
.process-card-cont .process-card .process-card-head h3 {
  font-size: 1em;
  color: #a30000;
  text-align: center;
}
.process-card-cont .process-card p {
  color: black !important;
  font-size: 1em;
  text-align: justify;
}
@media (min-width: 1600px) {
  .process-card-cont .process-card p {
    font-size: 0.9em;
  }
}

.working-with-me {
  color: white;
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    right: 5vw;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes card-bob-up {
  0% {
    transform: translateY(-2em);
  }
  70% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes card-bob-up {
  0% {
    transform: translateY(-2em);
  }
  70% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}
.title-name {
  border-radius: 10px;
}
.title-name:hover {
  -webkit-animation: pulse 0.3s;
  animation: pulse 0.3s;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
#card-cont {
  margin: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
}
@media (max-width: 728px) {
  #card-cont {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
}
#card-cont .card {
  z-index: 1000;
  min-height: 350px;
  background-color: white;
  border-radius: 10px;
  margin: auto 10%;
  border: black 2px solid;
  text-align: center;
  opacity: 0;
}
#card-cont .card ul {
  list-style: none;
  display: inline-block;
  margin: auto;
  padding: 0;
}
#card-cont .card:hover {
  transform: translateY(-1em);
  transition: transform 0.2s;
  cursor: pointer;
}
#card-cont .card h3 {
  color: #e33030;
}
#card-cont .card img {
  width: 20%;
  height: auto;
  padding: 1em;
}

@-webkit-keyframes card-slide-in {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes card-slide-in {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
  }
}
footer {
  font-size: 0.9em;
  padding: 2em;
  background: #e64c3c;
  color: white;
  font-family: "Open Sans";
  width: 100%;
}
footer hr {
  width: 30%;
  margin: 0.25em auto;
  background-color: white;
}
footer .footer-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
}
footer .footer-content .link-cont {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

/*# sourceMappingURL=App.css.map */
