$primary: #fff924;
$secondary: #18167e;

// $primary: rgb(39, 39, 39);
// $secondary: #fff924;

html {
    font-family: "Open Sans", "Franklin Gothic Light", "Roboto", Georgia, Times,
        "Times New Roman", serif;
    // min-height: 100vh;
    scroll-behavior: smooth;
    // overflow-x: hidden;
}
// a {
//     color: rgb(224, 224, 224);
//     &:hover {
//         color: rbga(201, 201, 201, 0.5);
//     }
// }
p {
    font-family: "Open Sans";
}
html,
body,
#root,
.App {
    @media (min-width: 950px) {
        min-height: 100vh;
    }
    @media (max-width: 949px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    overflow-y: overlay;
    @media (min-width: 1600px) {
        font-size: 1.05em;
    }
}
h2 {
    font-size: 2em;
    @media (max-width: 1049px) {
        text-align: center;
    }
}
hr {
    @media (max-width: 1049px) {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}
.App {
    // display: flex;
    position: relative;
    // flex-direction: column;
    // justify-content: flex-start;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d31717;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6d1616;
}

a {
    text-decoration: none;
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $primary;
    margin: auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // @media (min-width: 2000px) {
    font-size: 1em;
    // }
}
.header-content {
    align-self: flex-start;
    width: 70%;
    margin-left: 0;
}

header {
    padding: 1em 0;
    width: 80%;
    margin: auto;
    font-family: "Open Sans";
    a:visited {
        color: black !important;
    }
    @media (max-width: 950px) {
        display: block;
        text-align: center;
    }
    @media (max-width: 1149px) {
        font-size: 0.85em;
    }
    display: flex;
    flex-direction: column;
    @media (min-width: 950px) {
        flex-direction: row;
    }
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    color: white;
    h1 {
        text-transform: uppercase;
        font-size: 1.3em;
        letter-spacing: 0.05em;
    }
    h2 {
        letter-spacing: 0.04em;
        font-size: 1.2em;
    }
    nav {
        @media (max-width: 950px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5em;
        }
        text-transform: uppercase;
        text-align: right;
        font-size: 1.3em;
        a {
            color: black;
        }

        // padding: 0 1em;
        ul {
            padding-left: 0;
            list-style-type: none;
            display: flex;
            @media (max-width: 728px) {
                flex-direction: column;
                align-items: center;
            }
        }
        li {
            display: inline-block;
            color: black;
            padding: 0.5em 0.75em 0.25em 0.75em;
            position: relative;
            // hover non-active tabs
            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:not(.active):hover {
                transform: translateY(-0.2em);
                color: white;
                transition: transform 0.3s;
            }
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}

nav .toggle-menu {
    @media (max-width: 727px) {
        color: $secondary;
        font-size: 0.9em;
        padding: 0.25em;
        border: solid 1px red;
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    @media (min-width: 728px) {
        display: none;
    }
}
// .home {
//     width: 100%;
//     flex-direction: column;
//     justify-content: space-between;
//     display: flex;
// @media (min-width: 950px) {
//     position: absolute;
// }
// bottom: 0;
// }

.block-div {
    height: 100px;
    width: 100%;
    background: $secondary;
}
.display-none {
    display: none;
}

.main {
    padding-top: 15vh;
    @media (min-width: 1800px) {
        padding-top: 20vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2 {
        width: 100%;
        font-size: 1.8em;
        text-transform: uppercase;
        @media (max-width: 500px) {
            // width: 50%;
        }
        // text-align: center;
        margin: auto;
        @media (min-width: 1050px) {
            font-size: 2.5em;
            // width: 50%;
        }
        // @media (min-width: 1700px) {
        //     font-size: 2.5em;
        // }
        color: $secondary;
    }
    h3 {
        color: #333333;
        margin-bottom: 1.5em;
        // text-align: center;
    }
    .cta-cont {
        display: flex;
        justify-content: flex-start;
        @media (max-width: 700px) {
            font-size: 0.9em;
            flex-direction: column;
            text-align: center;
            width: 70%;
            margin: auto;
        }
        a {
            text-transform: uppercase;
            padding: 0.5em;
            color: $primary;
            background: $secondary;
            border-radius: 2px;
            border: $secondary 1px solid;
            margin: 0.5em 0.5em 0.5em 0em;

            &:hover {
                background: #5fa4ff;
                cursor: pointer;
                transition: background 0.2s;
            }
        }
    }
    .icon-cont {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 4em;
        align-self: flex-end;
        .monitor {
            @media (min-width: 951px) and (max-width: 1349px) {
                width: 22vw;
            }
            @media (min-width: 1350px) {
                width: 20vw;
            }
            width: 27%;
            height: auto;
        }
        .laptop {
            @media (min-width: 951px) and (max-width: 1349px) {
                width: 15vw;
            }
            @media (min-width: 1350px) {
                width: 14vw;
            }
            width: 19%;
            margin-left: 4%;
            height: auto;
        }
        .tablet-mobile {
            @media (min-width: 951px) and (max-width: 1349px) {
                width: 6vw;
            }
            @media (min-width: 1350px) {
                width: 5vw;
            }
            width: 8%;
            height: auto;
        }
    }
}

.animation-1 {
    -webkit-animation: card-slide-in 0.4s 1.2s forwards;
    animation: card-slide-in 0.4s 1.2s forwards;
}
.animation-2 {
    -webkit-animation: card-slide-in 0.4s 0.9s forwards;
    animation: card-slide-in 0.4s 0.9s forwards;
}
.animation-3 {
    -webkit-animation: card-slide-in 0.4s 0.6s forwards;
    animation: card-slide-in 0.4s 0.6s forwards;
}
.headline-animation {
    -webkit-animation: card-slide-in 0.4s 0.3s forwards;
    animation: card-slide-in 0.4s 0.3s forwards;
}
// .light-bg {
//     background: #e74c3c;
//     height: 400px;
//     margin-top: -5px;
//     padding-bottom: 5px;
// }
.active {
    color: $secondary;
    &:after {
        width: 100%;
        left: 0;
    }
}

.portfolio {
    width: 100%;
    height: 100%;
    background: $secondary;
    padding-top: 100px;

    .portfolio-title-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // padding-right: 2%;
        justify-content: flex-end;
        @media (max-width: 1049px) {
            align-items: center;
        }
        .portfolio-title {
            margin-bottom: 0.25em !important;
            text-transform: uppercase;
        }
        hr {
            background-color: white;
            width: 5%;
            margin-top: 0.25em;
        }
    }
    a {
        font-size: 1.1em;
        padding: 0.5em 0;
    }
}
.portfolio-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    // border-bottom: white 1px solid;
    h4 {
        font-size: 1.1em;
        position: relative;
        font-weight: 400;
        padding: 0.3em 0.5em;
        border-radius: 5px 5px 0 0;
        border-bottom: white solid 1px;
        &:hover {
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
            cursor: pointer;
        }
    }
    span {
        font-size: 2em;
        color: white;
    }
}
.websites,
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blog-title-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // padding-right: 2%;
    justify-content: flex-end;
    @media (max-width: 1049px) {
        align-items: center;
    }
    h2 {
        margin-bottom: 0.25em !important;
        text-transform: uppercase;
    }
    hr {
        background-color: white;
        width: 5%;
        margin-top: 0.25em;
    }
}

.website-card {
    width: 100%;

    @media (min-width: 1100px) {
        width: 47%;
    }

    height: 400px;
    perspective: 600px;
    // position: relative;
    margin-bottom: 3em;
    // padding-top: 2em;
    // border-top: 2px solid white;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 649px) {
        width: 95%;
    }

    // .card {
    //     width: 100%;
    //     height: 100%;
    //     position: relative;
    //     transition: transform 0.75s;
    //     transform-style: preserve-3d;
    //     .card__face {
    //         @media (max-width: 650px) {
    //             a {
    //                 font-size: 1.1em;
    //             }
    //             h4 {
    //                 font-size: 1.1em;
    //                 margin-bottom: 0.5em;
    //             }
    //             font-size: 0.9em;
    //             p {
    //                 padding: 0;
    //                 margin: 0.5em 0;
    //             }
    //         }
    //     }
    //     &:hover {
    //         cursor: pointer;
    //     }
    // }
    .card__face {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 5px;
        overflow: hidden;
    }

    .card__face--front {
        width: 100%;
        height: 100%;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
        // display: flex;
        position: relative;
        // flex-direction: column;
        color: white;
        // justify-content: center;
        // align-items: flex-end;
        border: 20px solid white;
        img {
            width: 100%;
            height: auto;
        }
        @media (max-width: 605px) {
        }
        .card-front-content {
            position: absolute;
            background: rgba(255, 255, 255, 1);
            bottom: 0;
            color: black;
            width: 100%;
            text-align: center;
            padding-top: 0.5em;
            h3 {
                font-size: 1.1em;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #b80000;
                // font-weight: bold;
            }
            p {
                font-family: "Open Sans";
                font-size: 0.9em;
                width: 70%;
                padding: 0.5em 2em;
                text-align: center;
                font-weight: 300;
                margin: auto;
            }
            hr {
                width: 30%;
                background-color: white;
                margin: 0.25em auto;
            }
        }
    }
}
.modal-frame {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    min-height: 100%;
    // height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    #close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2.5em;
        color: white;
        transform: rotate(0);
        transition: transform 0.2s;
        &:hover {
            transform: rotate(180deg);
            animation: transform 0.3s;
            top: 23px;
            cursor: pointer;
        }
    }
    .modal-content {
        margin: auto;
        background: white;
        width: 80%;
        display: flex;
        justify-content: flex-end;
        height: 80vh;
        overflow: hidden;
    }
    .screen-cap {
        width: 65%;
        height: auto;
    }
    .small-screen-cap {
        width: 40%;
        height: auto;
    }
    .after-screen-cont {
        display: flex;
        align-items: flex-start;
    }
    .modal-text {
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 35%;
        a {
            font-size: 0.8em;
            display: inline-block;
            background: $secondary;
            color: white;
            padding: 0.5em;
            margin-right: 0.5em;
            margin-top: 0.5em;
            border-radius: 5px;
        }
        p {
            margin-top: 0.75em;
            font-size: 0.9em;
        }
    }
    svg {
        font-size: 2.5em;
        position: absolute;
        top: 1em;
        right: 1em;
        color: white;
        transform: rotate(0deg);
        transition: transform 0.2s;
        &:hover {
            transform: rotate(180deg);
            transition: transform 0.2s;
            cursor: pointer;
        }
    }
}
.show-modal {
    animation: fade-in 0.3s ease-in forwards;
    pointer-events: auto;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
// Modal animation

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
// .website-card:last-of-type,
// .project-card:last-of-type {
//     margin-bottom: 2em;
// }

.about,
.contact,
.blog {
    width: 100%;
    height: 100%;
    min-height: 80vh;
}
.cat-menu {
    h2 {
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    hr {
        width: 5%;
        margin: auto;
    }
}
.frame-content {
    width: 80%;
    max-width: 1600px;
    margin: auto;
    @media (max-width: 727px) {
        width: 95%;
    }
}

.blog-menu {
    justify-content: center;
    display: flex;
    list-style-type: none;
    // border-bottom: 1px solid white;
    margin-bottom: 1em;
    padding-left: 0;
    // @media (max-width: 400px) {
    //     flex-wrap: wrap;
    // }
    li {
        padding: 0.5em;
        @media (max-width: 400px) {
            font-size: 0.8em;
        }
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid white;
        &:hover {
            cursor: pointer;
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
        }
    }
}
// .menu-hr {
//     margin-bottom: 1em;
// }
.card-container {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-column-gap: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 650px) {
        justify-content: center;
    }
}
.post-card {
    width: 100%;
    margin: auto;
    min-height: 250px;
    border-radius: 10px;
    border: $secondary 2px solid;
    margin-bottom: 2em;

    .post-card-content {
        padding: 2em;
        p {
            color: rgb(219, 219, 219);
        }
        h3 {
            font-size: 1.2em;
        }
        .post-cat {
            text-transform: uppercase;
            color: red;
            font-size: 1em;
        }
    }
}

.selected {
    text-decoration: underline;
    color: blue;
}
.blog-post {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 2em;
    hr {
        width: 50%;
        margin: 1em auto;
    }
    p,
    h1 {
        color: white;
    }
    h1 {
        text-align: center;
        margin: 0.5em auto 0.25em auto;
    }
    p {
        margin: 1em 0;
        text-align: justify;
        font-weight: 100;
    }
    code {
        background: rgb(34, 34, 34);
        color: white;
        display: block;
        white-space: pre-wrap;
        padding: 1em;
        margin: 1em;
        border-radius: 5px;
        font-size: 1.1em;
    }
}

// Blog Posts

.browser-comp {
    color: white;
    h3 {
        text-align: center;
        font-size: 1.6em;
    }
    hr {
        margin: 0 auto;
    }

    .pc-cont {
        display: flex;
    }
    table {
        width: 90%;
        margin: auto;
        border-radius: 5px;
        color: black;
    }
    img {
        display: block;
        width: 90%;
        margin: auto;
        height: auto;
    }
    th,
    td {
        background: white;
        padding: 0.35em;
        span {
            padding: 0.35em;
            border-radius: 5px;
        }
    }
}

//Contact
.contact {
    padding-top: 100px;
    padding-bottom: 75px;
    color: white;
    hr {
        width: 5%;
        margin: auto;
    }
    .frame-content {
        width: 95%;
        @media (min-width: 1050px) {
            width: 70%;
        }

        display: flex;
        justify-content: space-between;

        flex-direction: column;

        .contact-content {
            margin: auto;
            text-align: center;
            p {
                margin: 1em auto;
                width: 80%;
            }
        }
    }
}

.link {
    color: rgb(255, 81, 0);

    &:hover {
        color: orange;
        text-decoration: underline;
    }
}
.contact-form {
    @media (max-width: 1049px) {
        width: 80%;
    }
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;

    label,
    input,
    textarea,
    span {
        width: 100%;
        font-family: "Franklin Gothic Medium", Cochin, Georgia, Times,
            "Times New Roman", serif;
    }
    label {
        color: white;
        padding: 0.5em 0;
    }
    input,
    textarea {
        background: transparent;
        border: 1px solid red;
        border-radius: 5px;
        font-size: 1em;
        padding: 0.5em;
        margin-bottom: 0.5em;
        color: white;
        &:focus {
            transition: border 0.1s;
        }
    }
    textarea {
        height: 300px;
        margin-bottom: 1em;
    }
    input[type="submit"] {
        background: red;
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
    .email-result {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// .slide-in {
//     -webkit-animation: slide-down 0.8s forwards;
//     animation: slide-down 0.8s forwards;
//     display: block;
// }

.question {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary !important;
    padding: 0.5em;
    width: 90%;
    margin: auto;
    // margin-bottom: 0.5em;
    border-radius: 5px;
    @media (min-width: 1050px) {
        width: 60%;
    }
    & ~ h2 {
        margin-top: 1em;
    }
    margin: 0.5em 0 !important;
    font-weight: 600;
    font-size: 1.2em;
    i {
        transform: rotate(0);
        display: inline-block;
        padding: 0 0.5em;
        font-size: 1.2em;
        // color: white;
        transition: transform 0.2s;
    }
    .flip {
        transform: rotate(180deg);
        transition: transform 0.2s;
    }
    &:hover {
        cursor: pointer;
    }
}

.answer {
    margin: 0.5em !important;
    display: none;
    font-weight: 300;
    width: 90%;
    // animation: slide-up 0.2s;
    @media (min-width: 1050px) {
        width: 60%;
    }
}

.show {
    display: block;
    animation: slide 0.2s;
}

.faq-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    margin: auto;
    // @media (min-width: 1050px) {
    //     display: block;
    //     padding-left: 3em;
    // }
}

.pt-1 {
    padding-top: 1em;
}
@keyframes slide {
    0% {
        opacity: 0;

        transform: translateY(-1.75em);
    }
    100% {
        opacity: 1;
        // transform: translateY(0);
    }
}

.hide {
    display: none;
}

.blog-preview {
    background-color: $secondary;
    padding-top: 100px;
    a[href="/blog"] {
        @media (min-width: 1050px) {
            float: right;
        }
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.1em;
        padding: 0.5em 0;
    }
}
.blog-preview-post-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    .post-card {
        margin: 0;
        margin-top: 3vw;
        width: 100%;
        @media (min-width: 1050px) {
            width: 48%;
        }

        // border: $primary solid 2px;
        border-radius: 5px;
        background: white;
        h3,
        p {
            color: rgb(26, 26, 26);
        }
    }
}

.portfolio-title,
.blog-preview h2:first-of-type,
.about h2 .blog h2:first-of-type {
    color: white;
    text-align: center;
    // font-size: 1.75em;
}
// .portfolio-title {
//     text-align: right;
//
// }
.section-title {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.mx-auto {
    margin: auto;
}
#hire-me {
    padding-top: 75px;
    padding-bottom: 75px;
    h2:not(.section-title) {
        font-size: 1.75em;
        text-align: center;
    }
    .hire-title-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2em;
        justify-content: flex-end;
        @media (max-width: 1049px) {
            align-items: center;
        }
        h2 {
            margin-bottom: 0.25em !important;
            text-transform: uppercase;
        }
        hr {
            background-color: white;
            width: 5%;
            margin-top: 0.25em;
        }
    }
    p,
    li,
    h1,
    h2 {
        color: white;
    }
    hr {
        width: 5%;
        background-color: white;
    }
    .full-width {
        width: 100%;
    }
    p {
        margin: 1em auto;
    }
    // ul {
    //     margin: auto;
    //     list-style-type: none;
    //     display: flex;
    //     justify-content: center;
    //     padding: 0;
    //     li {
    //         padding: 0.5em;
    //         background-color: royalblue;
    //         border: white 1px solid;
    //         border-radius: 5px;
    //         margin: 0.25em;
    //     }
    // }
}
.highlight {
    background: white;
    border-radius: 5px 5px 0 0;
    color: $primary;
    transition: background 0.2s;
}

.hire-card-cont {
    display: flex;
    width: 100%;
    margin: 3em auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    @media (min-width: 965px) {
        flex-direction: row;
        align-items: flex-start;
    }
    @media (min-width: 1050px) {
        width: 100%;
    }
    h2 {
        text-align: left;
    }

    .hire-card {
        img {
            width: 40%;

            max-width: 150px;
            height: auto;
            min-width: 125px;
            padding: 1em;
        }
        .bespoke {
            color: rgb(241, 196, 15);
        }
        .standard {
            color: rgb(231, 76, 60);
        }

        .premium {
            color: rgb(52, 152, 219);
        }
        background: white;
        width: 80%;
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 965px) {
            width: 30%;
        }

        border: 1px solid rgb(202, 202, 202);
        border-radius: 5px;
        transform: translateY(1em);
        transition: transform 0.2s;
        span {
            font-weight: bold;
            font-size: 0.7em;
        }
        h3.price {
            color: orange;
            padding: 0 1em 1em 1em;
            border-radius: 5px;
            font-size: 1.75em;
            line-height: 1em;
        }
        &:hover {
            // transform: scale(1.05);
            transform: translateY(-1em);
            transition: transform 0.2s ease-in-out;
        }
        a {
            background: rgb(211, 0, 0);
            padding: 0.75em;
            color: white;
            text-transform: uppercase;
            border-radius: 5px;
            margin-bottom: 1em;
        }
        h3 {
            font-size: 1.6em;
            color: rgb(206, 0, 0);
            font-weight: 600;
        }
        p {
            color: rgb(37, 37, 37) !important;
            font-size: 0.9em;
            padding: 0 2.5em;
            text-align: justify;
        }
        ul {
            list-style-type: none;
            padding: 1em;
            display: flex;
            flex-direction: column;
            li {
                color: rgb(95, 95, 95) !important;
                font-size: 1em;
                @media (min-width: 965px) {
                    font-size: 0.9em;
                }
                // background: rgb(78, 78, 78);
                padding: 0.4em;
                // margin-bottom: 0.1em;
                text-align: center;
                // border-top: 1px gray solid;
                border-bottom: 1px gray solid;
                // border: 1px gray solid;
                // border-radius: 5px;
            }
        }
    }
}

.text-center {
    text-align: center;
}

// #portfolio h2:nth-of-type(1),
// #hire-me h2:nth-of-type(1),
// #contact h2:nth-of-type(1),
// #about h2:nth-of-type(1) {
//     text-transform: uppercase;
//     font-size: 2.5em;
// }
// .blog-preview h2:nth-of-type(1),
.service-card-cont {
    width: 100%;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: 1050px) {
        flex-direction: row;
        width: 85%;
    }
    .service-card {
        width: 100%;
        @media (min-width: 1050px) {
            width: 47.5%;
        }
        background: rgba(255, 255, 255, 1);
        border-radius: 5px;
        // border: 3px rgb(255, 0, 0) solid;
        padding: 2.25em;
        display: flex;
        flex-direction: column;
        margin: 2vw 0;

        .service-card-head {
            display: flex;
            align-items: center;
            h3 {
                font-size: 1.2em;
                padding-left: 0.5em;
            }
            img {
                padding: 10px;
                width: 15%;
                height: auto;
            }
        }
        p {
            color: black !important;
            font-size: 0.95em;
            text-align: justify;
        }
    }
}

.process-card-cont {
    width: 100%;
    display: flex;
    margin: 1em auto;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: 750px) {
        flex-direction: row;
        justify-content: space-between;
    }
    .process-card {
        flex-direction: column;
        // margin: auto;
        width: 90%;
        @media (min-width: 750px) {
            min-height: 350px;
        }

        margin-bottom: 1.5em;

        @media (min-width: 750px) and (max-width: 1249px) {
            width: 48%;
        }
        @media (min-width: 1250px) {
            width: 24%;
            margin-bottom: 0;
        }

        background: white;
        border: white 1px solid;
        border-radius: 5px;
        padding: 1.5em;
        display: flex;
        flex-direction: column;

        img {
            padding-bottom: 0.5em;
            width: 15%;
            height: auto;
        }
        .process-card-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                padding: 0.25em 0.5em;
                // background: black;
                border: 1px dotted black;
                color: rgb(27, 27, 27);
                border-radius: 50%;
            }
            h3 {
                font-size: 1em;
                color: rgb(163, 0, 0);
                text-align: center;
            }
        }
        p {
            color: black !important;
            font-size: 1em;
            @media (min-width: 1600px) {
                font-size: 0.9em;
            }
            text-align: justify;
        }
    }
}

.working-with-me {
    color: white;
}

@keyframes slide-down {
    0% {
        height: 0;
        // bottom: 5vh;
    }

    100% {
        height: auto;
        // opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        right: 5vw;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes card-bob-up {
    0% {
        transform: translateY(-2em);
    }
    70% {
        transform: translateY(-1em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes card-bob-up {
    0% {
        transform: translateY(-2em);
    }
    70% {
        transform: translateY(-1em);
    }
    100% {
        transform: translateY(0);
    }
}
.title-name {
    border-radius: 10px;
    display: flex;
    align-items: center;

    h2 {
        font-weight: 400;
    }
    img {
        width: 80px;
        height: auto;
        margin-right: 0.5em;
        transform: rotate(0);
        transition: transform 0.6s;
    }
    img:hover {
        transform: rotate(-360deg);
        transition: transform 0.6s;
        cursor: pointer;
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#card-cont {
    margin: 0 10%;

    display: grid;
    @media (max-width: 728px) {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    .card {
        z-index: 1000;
        min-height: 350px;
        background-color: white;
        border-radius: 10px;
        margin: auto 10%;
        border: black 2px solid;
        text-align: center;
        opacity: 0;
        ul {
            list-style: none;
            display: inline-block;
            margin: auto;
            padding: 0;
        }

        &:hover {
            transform: translateY(-1em);
            transition: transform 0.2s;
            cursor: pointer;
        }

        h3 {
            color: #e33030;
        }
        img {
            width: 20%;
            height: auto;
            padding: 1em;
        }
    }
}

@-webkit-keyframes card-slide-in {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes card-slide-in {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
    }
}

// // Portfolio

// .p-cont {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-column-gap: 1em;
//     width: 90%;
//     margin: auto;
// }
// .p-card {
//     display: flex;
//     padding: 1.5em;
//     border: 1px solid white;
//     a {
//         flex: 40%;
//         img {
//             -o-object-fit: cover;
//             object-fit: cover;
//             width: 100%;
//             height: 200px;
//         }
//     }
//     a,
//     p {
//         padding: 0.25em;
//     }
//     p {
//         font-size: 1em;
//     }
//     .card-content {
//         flex: 60%;
//         display: flex;
//         flex-direction: column;
//     }
// }

footer {
    font-size: 0.9em;
    padding: 2em;
    background: $secondary;
    color: white;
    font-family: "Open Sans";
    width: 100%;
    hr {
        width: 30%;
        margin: 0.25em auto;
        background-color: white;
    }
    .footer-content {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        .link-cont {
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: center;
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

@mixin transform($value) {
    transform: ($value);
}
@mixin transition($value) {
    transition: ($value);
}
